body {
    background-color: #f1f1f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-panel {
    margin-top: 60px;
}

.dropdown-auth {
    top: 100% !important;
}

.dropdown-auth > li > a {
    color: black;
}

.main-form {
    margin-top: 50px;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid #4f4f4f !important;
    box-shadow: 0 1px 0 0 #4f4f4f !important;
}

.landing-page {
    display: table;
    width: 100%;
    height: calc(100vh - 64px);
    background-size: cover !important;
}

.main-title {
    padding: 0;
    margin: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.project-list {
    margin-top: 30px;
}

.profile-picture {
    width: 40px;
    background-color: white;
    margin-top: 10px;
    transition: 0.3s;
}

.profile-picture:hover {
    background-color: rgb(197, 197, 197);
    /*-webkit-transition: background-color 300ms linear;*/
    /*transition: background-color 300ms linear;*/
}

.profile-picture-project {
    border: 1px solid black;
    width: 50px !important;
    height: 50px !important;
    background-color: white;
    margin-top: 10px;
    transition: 0.3s;
}

.profile-picture-project:hover {
    background-color: rgb(225, 224, 224);
}

.fav-star-out {
    transition: 0.3s;
    color: gray;
}

.fav-star-in {
    transition: 0.3s;
    color: orange;
}

.fav:hover > .fav-star-out {
    color: orange;
}

.fav:hover > .fav-star-in {
    color: gray;
}

.version-footer {
    font-size: x-small;
    position: fixed;
    color: #4f4f4f;
    bottom: 0;
    right: 5px;
}

#main-sentence {
    font-size: xx-large;
}

.fav-count {
    right: 45px !important;
    top: 18px !important;
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.87)!important;

}

.dropdown-content li > a, .dropdown-content li > span {
    color: black!important;
}

.private-tag {
    position: absolute;
    font-size: medium;
}

.description-container {
    margin-top: 20px;
    padding: 5px 10px 10px 10px;
}

.main-page-element {
    flex: 1 0 auto;
    margin-bottom: 50px;
}