{% extends "app/base.html" %}
{% load static %}
{% block content %}
    <section class="landing-page white-text"
             style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('{% static "images/bg2.jpg" %}');margin-bottom: -50px">
        <div class="main-title">
            <p class="center-align" id="main-sentence">
                En manque d'inspiration?
            </p>
            <p class="center-align container">
                Music Ids vous permet de partager, découvrir et contribuer à des créations musicales
            </p>
        </div>
    </section>
{% endblock %}