{% extends "app/base.html" %}
{% load utils %}
{% block content %}
    <section class="main container project-list">
        <ul class="collection">
            {% for project in projects %}
                <li class="collection-item avatar">
                    <img src="/media/{{ user.picture }}"
                         alt="Photo du profil"
                         class="circle profile-picture-project">
                    <span class="title">Nom: {{ project.name }}</span>
                    <div class="row">
                        <div class="col s12">
                            Créé par: {{ project.creator.username }}
                        </div>
                        <div class="col m12">
                            Créé
                            le: {{ project.created_at|date:"d/m/Y à H:i" }}
                        </div>
                    </div>
                    {% is_favorite user project as is_fav %}
                    <a href="{% url "ideas-favorite" slug=project.slug %}"
                       class="secondary-content fav">
                        <i class="material-icons {% if is_fav %}fav-star-in{% else %}fav-star-out{% endif %}">grade</i>
                    </a>
                    <a href="{% url "ideas-detail" project.slug %}"
                       class="secondary-content" style="top:75px">
                        Voir le projet
                    </a>
                </li>

            {% endfor %}

        </ul>
    </section>
    <script>
        let fav_a = document.querySelector(".fav")
        let star = document.querySelector(".fav_star")
    </script>
{% endblock %}