{% extends "app/base.html" %}
{% load utils %}
{% load static %}
{% block content %}
    <div class="container main-panel">
        <div class="card">
            <div class="card-content">
                <span class="card-title center">{{ project.name }}
                {% if project.is_private %}
                    <span class="orange-text private-tag">&nbsp;(Privé)</span>
                {% endif %}
                    <span class="right" style="font-size: small">
                        {% if is_author %}
                            <a href="{% url "ideas-update" slug=project.slug %}">Modifier</a>
                        {% endif %}
                        {% is_favorite user project as is_fav %}
                        <span class="secondary-content fav-count right">
                                {{ project.favorite_count }}&nbsp;
                        </span>
                        <a href="{% url "ideas-favorite" slug=project.slug %}"
                           class="secondary-content fav">
                            <i class="material-icons {% if is_fav %}fav-star-in{% else %}fav-star-out{% endif %}">
                                grade
                            </i>
                        </a>
                    </span>
                </span><br>
                <p>Créé le: {{ project.created_at|date:"d/m/Y" }} par <a
                        href="#">{{ project.creator.username }}</a></p>
                <p>Dernière
                    modification: {{ project.modified_at|date:"d/m/Y" }}</p>
                <p>Tonalité: {{ project.key }}</p>
                <p>Tempo: {{ project.tempo }}</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#audio-file">Fichier
                        audio</a></li>
                    <li class="tab"><a href="#music-sheet">Tablature</a></li>
                    <li class="tab"><a href="#ableton-project">Projet
                        Ableton</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="audio-file">
                    <div class="center row" id="waveform"
                         style="position: relative">

                    </div>
                    <div class="center row">
                        <button class="btn play-pause-button"
                                onclick="wavesurfer.playPause()">
                            <i class="material-icons audio-button-icon">
                                play_circle_filled
                            </i>
                        </button>

                    </div>
                    <div class="center">
                        <a class="btn"
                           href="{% url "download-audio-file" slug=project.slug %}"
                           download="">Télécharger</a>
                    </div>
                </div>
            </div>
            <div id="music-sheet">
                <div class="center">
                    {% if project.joined_files.MUSIC_SHEET %}
                        <a class="waves-effect waves-light btn"
                           href="/media/{{ project.joined_files.MUSIC_SHEET.file }}"><i
                                class="material-icons right">file_download</i>Télécharger</a>
                    {% else %}
                        <span>Pas de fichier</span>
                    {% endif %}
                </div>
            </div>
            <div id="ableton-project">
                <div class="center">
                    {% if project.joined_files.ABLETON_PROJECT_FILE %}
                        <a class="waves-effect waves-light btn"
                           href="/media/{{ project.joined_files.ABLETON_PROJECT_FILE.file }}"><i
                                class="material-icons right">file_download</i>Télécharger</a>
                        {% if project.joined_files.ABLETON_PROJECT_FILE.notes %}
                            <div class="row" style="margin-top: 20px">
                                <div class="col s12 m12">
                                    <div class="card">
                                        <div class="card-content">
                                            <span class="card-title">Notes</span>
                                            <div class="left-align">
                                                {{ project.joined_files.ABLETON_PROJECT_FILE.notes|linebreaks }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <span>Pas de fichier</span>
                    {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% block js %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let el = document.querySelectorAll('.tabs');
                M.Tabs.init(el);
            });

        </script>
        <script>
            let wavesurfer = WaveSurfer.create({
                container: '#waveform',
                waveColor: '#a9a9a9',
                progressColor: '#4f4f4f',
                showTime: true,
                opacity: 1,
                backgroundColor: 'white',
                plugins: [
                    WaveSurfer.cursor.create({
                        showTime: true,
                        opacity: 1,
                        customShowTimeStyle: {
                            'background-color': '#000',
                            color: '#fff',
                            padding: '2px',
                            'font-size': '10px'
                        }
                    })
                ]
            });
            wavesurfer.load('/media/{{ project.joined_files.AUDIO_FILE.file }}');
        </script>
        <script src="{% static "js/playpause.js" %}"></script>
    {% endblock %}
{% endblock %}
