{% extends "app/base.html" %}
{% load materializecss %}
{% block content %}

    <section class="main container main-form">
        <div class="card">
            <div class="card-content center">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|materializecss }}
                    {% if form.errors %}
                        <div id="form-error" style="margin: 10px 0 10px 0">
                            <p class="red-text">Nom d'utilisateur ou mot de passe incorrect</p>
                        </div>
                    {% endif %}
                    <button class="btn">Connexion</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}