{% extends "app/base.html" %}
{% load materializecss %}
{% block content %}
    <div class="row" style="margin-top: 5%">
        <section class="main container main-form col m4 offset-m4 s10 offset-s1">
            <div class="card">
                <div class="card-content center row">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="col m12 center">
                            {{ form.username|materializecss }}
                            {{ form.password|materializecss }}
                            {% if form.errors %}
                                <div id="form-error"
                                     style="margin: 10px 0 10px 0">
                                    <p class="red-text">Nom d'utilisateur ou
                                        mot de
                                        passe incorrect</p>
                                </div>
                            {% endif %}
                            <div>
                                <button class="btn">Connexion</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}